@import url("https://fonts.googleapis.com/css2?family=Novamono&display=swap");

* {
  font-family: "novamono", monospace;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 0 auto; /* Center align the logo horizontally */
  display: block; /* Ensure the logo is displayed as a block element */
  text-align: center; /* Center align the logo within its container */
}

h1 {
  font-weight: bold;
}

.login-button {
  margin-right: 10px;
  padding: 20px 30px;
  background-color: #ffffff; /* Default background color */
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  color: #333; /* Default text color */
  font-size: 20px;
}

.login-button:hover {
  background-color: hotpink;
  border: 1px solid black;
  color: white;
}

.login-button:selected {
  background-color: hotpink; /* Hot pink background color */
  color: white;
}
