body {
  font-family: "Nunito", sans-serif;
  background-color: #f7c1bb;
}

.game-buttons button {
  margin-right: 10px;
  padding: 20px 30px;
  background-color: #ffffff; /* Default background color */
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  color: #333; /* Default text color */
  font-size: 20px;
}

.game-buttons button:hover {
  background-color: hotpink;
  border: 1px solid black;
  color: white;
}

.game-buttons button:selected {
  background-color: hotpink; /* Hot pink background color */
  color: white;
}
