:root {
  --background-color: pink;
}
/* Light mode styles */

/* Dark mode styles */
.dark {
  background-color: #333333; /* Dark grey background color */
  color: #ff69b4; /* Pink text color */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nova-mono-regular {
  font-family: “Nova Mono”, monospace;
  font-weight: 400;
  font-style: normal;
}

.html body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color) !important;
  font-family: "Nova Mono", monospace !important;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color) !important;
  font-family: ‘Nova Mono’, monospace !important;
}
