.hidden {
    display: none;
}

.visible {
    display: block;
}

.letterTiles {
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.letterTile {
    color: white;
    background-color: lightpink;
    display: inline;
    height: 30px;
    width: 30px;
    margin: 0 3px;
    text-align: center;
}

.active {
    color: black;
}

.inactive {
    color: lightgrey;
}